$bg-color: #ececec;
$black: #323232;
$blue: #5acef0;
$box-shadow: rgba(0, 0, 0, .3);
$white: #f6f6f6;

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: $bg-color;
  position: relative;
}


.App {
  color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  box-shadow: 3px 5px 7px 3px $box-shadow;
  padding: 0;
}


/*----------- LOADING TEXT MESSAGE ----------- */
.loading-text {
  margin-top: 24px;
  font-size: 36px;
  color: $black;
}


/* --------- AUTOSUGGEST -------------- */
.search-bar {
  margin: 0;
}

.react-autosuggest__container {
  background-color: $black;
  padding: 20px;
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 40px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #aaa;
  background-color: $black;
  color: $white;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 100%;
  color: $white;
  background-color: $black;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0 -20px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: $blue;
  color: $bg-color;
}

.react-autosuggest__suggestion-match {
  color: red;
  font-weight: bold;
}

.matched {
  font-weight: bold;
  text-transform: capitalize;
}


/*---------- MOVIE DETAILS ----------*/
.movie-details {
  background-color: $black;
  margin: 0;

  .poster-container {
    padding: 0;
  }

  .details-container {
    padding: 0 20px;

    h1 {
      font-weight: bold;
      text-transform: uppercase;
    }

    .genres {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 30px;
      color: $blue;

      .genre:not(:last-child)::after {
        content: ' - ';
      }
    }

    h3 {
      font-size: 22px;
    }

    .overview-content {
      font-size: 15px;
      letter-spacing: .4px;
      color: $white;
    }

    p {
      font-size: 18px;
      color: $blue;
    }
  }
}


/*---------- FOOTER ----------*/
footer h4 {
  color: $black;
  font-size: 15px;
  margin-top: 40px;
}


//=============================
//      MEDIA QUERY
//=============================
@media screen and (min-width: 992px) {
  .poster {
    max-height: 500px;
    width: auto;
  }
}

@media screen and (max-width: 991px) {
  .details-container {
    h1 {
      font-size: 26px;
    }

    h3 {
      font-size: 20px !important;
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    background-color: $black;
  }

  .App {
    left: 0;
    padding-bottom: 30px;
    padding-top: 10px;
    top: 0;
    transform: none;
  }

  .wrapper {
    box-shadow: none;
  }

  .poster-container {
    padding: 15px !important;
  }

  .movie-info {
    margin-top: 20px;
    margin-bottom: 8px;
    text-align: center;
  }

  .movie-info .col-xs-4 {
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    font-size: 30px;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  footer h4 {
    color: $white;
  }

}