html {
  height: 100%; }

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: #0c0c0c; }

.backdrop::before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, #000 90%); }

.App {
  padding-top: 30px !important;
  color: #f6f6f6; }

/*----------- LOADING TEXT MESSAGE ----------- */
.loading-text {
  margin-top: 24px;
  font-size: 36px;
  color: #f6f6f6; }

/* --------- AUTOSUGGEST -------------- */
.search-bar {
  padding: 0; }

.react-autosuggest__container {
  position: relative;
  margin-bottom: 20px; }

.react-autosuggest__input {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #aaa;
  background-color: rgba(0, 0, 0, 0.1);
  color: #f6f6f6; }

.react-autosuggest__input--focused {
  outline: none; }

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.react-autosuggest__suggestions-container {
  display: none; }

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  /*top: 51px;*/
  width: 100%;
  color: #f6f6f6;
  background-color: #0c0c0c;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2; }

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px; }

.react-autosuggest__suggestion--highlighted {
  background-color: #5acef0;
  color: #0c0c0c; }

.react-autosuggest__suggestion-match {
  color: red;
  font-weight: bold; }

.matched {
  font-weight: bold;
  text-transform: capitalize; }

/*---------- MOVIE DETAILS ----------*/
.movie-details {
  background-color: #0c0c0c; }
  .movie-details .poster-container {
    padding: 0; }
    .movie-details .poster-container .poster {
      width: 100%; }
  .movie-details .details-container {
    padding: 0 20px; }
    .movie-details .details-container h1 {
      font-weight: bold;
      text-transform: uppercase; }
    .movie-details .details-container .genres {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 30px;
      color: #5acef0; }
      .movie-details .details-container .genres .genre:not(:last-child)::after {
        content: ' - '; }
    .movie-details .details-container h3 {
      font-size: 22px; }
    .movie-details .details-container .overview-content {
      font-size: 15px;
      letter-spacing: .4px;
      color: #f6f6f6; }
    .movie-details .details-container p {
      font-size: 18px;
      color: #5acef0; }

@media screen and (max-width: 991px) {
  .App {
    padding-bottom: 30px; }

  .details-container {
    padding-bottom: 30px !important; }
    .details-container h1 {
      font-size: 26px; }
    .details-container h3 {
      font-size: 20px !important; } }
@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
    text-align: center; }

  h2 {
    text-align: center; } }

/*# sourceMappingURL=index.css.map */
